body {
    font-family: "Noto Sans JP", sans-serif !important;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    background: #373b44; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4286f4, #415279); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #4286f4,
        #415279
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container{
    text-align: center;
    margin-top: 150px;
}

.myCards {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;   
}


.myCardI {

    max-width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    
    
    
    .conteudo {
        text-align: left;
        margin: 10px;
        padding: 50px 10px;

        height: 100%;
        
        border-radius: 5px;
        border-width: 100%;
        border-left: #33648c6c 5px solid;
        border-bottom: #33648c6c 5px solid;
        
        padding-right: 10px;
        min-width: 300px;
        width: 50%;
    }
    
    img {
        padding: 5px;
        margin: 0 50px 0 50px;
        max-width: 400px;
    }
}

.myCardP{
    max-width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 10px;
    padding: 10px 10px;
    
    
    
    .conteudo {
        text-align: right;
        margin: 10px;
        padding: 50px 10px;

        height: 100%;
        
        border-radius: 5px;
        border-width: 100%;
        border-right: #33648c6c 5px solid;
        border-bottom: #33648c6c 5px solid;
        
        padding-right: 10px;
        min-width: 300px;
        width: 50%;
    }
    
    img {
        padding: 5px;
        margin: 0 50px 0 50px;
        max-width: 400px;
    }

}

.myNavbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myLogo {
    img {
        width: 100px;
        height: 100px;
    }
}

.myHamburguer {
    width: 30px;
    height: 30px;

    background-color: transparent;
    border-radius: 10px;

    position: relative;
    cursor: pointer;
    display: none;
}

.myHamburguer:after {
    content: "";
    width: 70%;
    height: 5%;

    background-color: #e6e0e0;
    border-radius: 50px;

    position: absolute;
    top: 20%;
    left: 15%;
}

.myHamburguer::before {
    content: "";
    width: 50%;
    height: 5%;

    background-color: #e6e0e0;
    border-radius: 50px;

    position: absolute;
    top: 50%;
    left: 35%;
}

.myMenu {
    list-style: none;
    display: flex;
    align-items: center;

    li {
        margin-left: 10px;
        a {
            text-justify: auto;
            font-size: 14px;
            width: 120px;
            display: block;
            border-bottom: #33648c 5px solid;
            padding: 2px 15px;
            text-align: center;
            text-decoration: none;
            color: #eee;
            transition: 0.5s ease;
            &:hover {
                background-color: #33648c70;
                color: #ccc;
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .myCardI{
        flex-direction: column;

        max-width: 100%;

        border-radius: 5px;
        border-width: 100%;
        border-left: #33648c6c 5px solid;
        border-bottom: #33648c6c 5px solid;

        .conteudo{
            border: none;
        }

        img {
            max-height: 220px;
        }

    }
    
    .myCardP{
        flex-direction: column;

        max-width: 100%;

        border-radius: 5px;
        border-width: 100%;
        border-right: #33648c6c 5px solid;
        border-bottom: #33648c6c 5px solid;

        .conteudo{
            border: none;
        }

        img {
            max-height: 220px;
        }

    }

}
@media screen and (max-width: 980px) {

    .myHamburguer {
        background-color: #33648c;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
        border: 25px;
        margin-right: 10px;
        padding: 5px;
        display: block;
        z-index: 999;
    }

    .myMenu {
        margin: 0 auto;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        background-color: #123cf7;
        flex-direction: column;
        padding: 100px 20px;
        width: 100%;
        max-width: 150px;
        li {
            a {
                padding: 5px;
                border-bottom: none;
            }
        }
        transition: 0.5s ease;
    }

    .myMenu.active {
        right: 0;
        a {
            padding: 5px;
            border-bottom: none;
        }
    }
}
